<div class="navbar">
    <div class="welcome">      
            <p>Bienvenido {{user}}</p>      
    </div>
    <div class="items">
        {{#if user}}
            <a class="alogin" href="/index">buscar descuento</a>
            <a class="alogin" href="/session/profile">profile</a>
            <a class="alogin" href="/session/logout">logout</a>
        {{else}}
            <a class="alogin" href="/session/login">login</a>
        {{/if}}
    </div>
</div>
<div class='form-main'>
    <div class="form-submain">
        <h1 class="ln">Crear Descuento</h1>
        <form class="div-form-main" onsubmit="event.preventDefault(); postDescuento();" method="post">
            Código: <input type="text" class="input" name="hash" required><br>
            % de descuento: <input type="number" class="input" name="descuento" required><br>
            <br>
            <input type="submit" class="login" value="Crear">
        </form>
    </div>
</div>
<script>
    function postDescuento() {
    const hashInput = document.querySelector('input[name="hash"]');
    const descuentoInput = document.querySelector('input[name="descuento"]');

    fetch('/hash/createDesc', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({ hash: hashInput.value, descuento: descuentoInput.value })
    })
    .then(alert('descuento creado con exito'))
    .catch(error => {
        console.error('Error:', error);
        descuentoElement.textContent = 'Error al crear el descuento.';
    });
    }
</script>

<style>
        .navbar {
        display: flex;
        align-items: center;
        padding: 1rem 10rem;
        margin: 0 50px;
        border-radius: 10px;
        background-color: #272f41;
    }

    .alogin {
        color: white;
        margin-left: 25px;
    }

    .alogin:hover {
        color: greenyellow;
    }

    .welcome {
        margin-right: 90px;
    }
    .welcome:hover {
        color: greenyellow;
    }
    .items {
        margin-left: auto; /* Mueve los elementos a la derecha */
    }
    .form-main {
        display: flex;
        height: calc(100vh - 200px);
        align-items: center;
        justify-content: center;
    }
    
    .form-submain {
        background-color: #242b3b;
        max-width: 25rem;
        width: 100%;
        padding: 2.5rem 3rem; /* Ajuste del padding, aumentando el valor de la derecha */
        border-radius: 1.1rem;
    }

    .input {
        width: 100%;
        background-color: #4a5568;
        color: #fff;
        padding: 0.5rem 0.11rem;
        border-radius: 0.375rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .login {
        background-color: #109e52;
        padding: 0.5rem;
        border-radius: 0.375rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin: auto;
        color: white;
    }
    .ln {
    font-size: 1.5rem; /* Equivalente a text-2xl en Tailwind CSS */
    font-weight: bold; /* Equivalente a font-bold en Tailwind CSS */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    }



</style>
